.container {
    width: 960px;
    margin: 0px auto;
    padding-top: 50px;
    margin-top: -10px;
    font-size: 125%;
    border: 1px solid burlywood;
}

nav {
    width: 920px;
    position: fixed;
    top: 0;
    background: burlywood;
    padding: 20px;
}

a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.active {
    color: red;
}

div {
    margin-top: 40px;
}

h1 {
    text-align: center;
    color: brown;
}

h2 {
    color: tan;
    padding-left: 20px;
}

div p {
    text-align: justify;
    text-indent: 2em;
    color: gray;
    padding: 20px;
}
footer {
    width: 920px;
    background: burlywood;
    padding: 20px;
    color: white;
}
